h1{
    color: red;
    text-align: center;
    font-size: 50px;
    font-family: monospace;
}
.one {
    background-color: bisque;
    text-align: center;
    font-size: 50px;
    border: solid gray 5px;
    padding: 20px;
    margin: 60px;
    box-sizing: content-box;
}
.tow {
    text-align: center;
    font-size: 50px;
    border: solid gray 5px;
    padding: 20px;
    margin: 60px;
    box-sizing: content-box;
}
.tree {
    text-align: center;
    font-size: 50px;
    border: solid gray 5px;
    padding: 20px;
    margin: 60px;
}
.four {
    text-align: center;
    font-size: 50px;
    border: solid gray 5px;
    padding: 20px;
    margin: 60px;
}